  <!-- Header -->
  <header class="shep-container" style="padding-top:22px">
  </header>

  <div class="shep-row-padding shep-margin-bottom">
    <div class="shep-quarter">
      <div class="shep-container shep-card-4 shep-bluejw shep-padding-16">
        <div class="shep-left"><i class="fa fa-comment shep-xxxlarge"></i></div>
        <div class="shep-right">
          <h3>52</h3>
        </div>
        <div class="shep-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="shep-quarter">
      <div class="shep-container shep-card-4 shep-purplejw shep-padding-16">
        <div class="shep-left"><i class="fa fa-eye shep-xxxlarge"></i></div>
        <div class="shep-right">
          <h3>99</h3>
        </div>
        <div class="shep-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="shep-quarter">
      <div class="shep-container shep-card-4 shep-deep-orangejw shep-padding-16">
        <div class="shep-left"><i class="fa fa-share-alt shep-xxxlarge"></i></div>
        <div class="shep-right">
          <h3>23</h3>
        </div>
        <div class="shep-clear"></div>
        <h4>Shares</h4>
      </div>
    </div>
    <div class="shep-quarter">
      <div class="shep-container shep-card-4 shep-greenjw shep-text-white shep-padding-16">
        <div class="shep-left"><i class="fa fa-users shep-xxxlarge"></i></div>
        <div class="shep-right">
          <h3>50</h3>
        </div>
        <div class="shep-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

  <div class="shep-panel">
    <div class="shep-row-padding" style="margin:0 -16px">
      <div class="shep-third">
        <h5>Regions</h5>
        <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
      </div>
      <div class="shep-twothird">
        <h5>Feeds</h5>
        <table class="shep-table shep-striped shep-white">
          <tr>
            <td><i class="fa fa-user shep-text-blue shep-large"></i></td>
            <td>New record, over 90 views.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell shep-text-red shep-large"></i></td>
            <td>Database error.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users shep-text-yellow shep-large"></i></td>
            <td>New record, over 40 users.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment shep-text-red shep-large"></i></td>
            <td>New comments.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark shep-text-blue shep-large"></i></td>
            <td>Check transactions.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop shep-text-red shep-large"></i></td>
            <td>CPU overload.</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt shep-text-green shep-large"></i></td>
            <td>New shares.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="shep-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="shep-grey">
      <div class="shep-container shep-center shep-padding shep-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="shep-grey">
      <div class="shep-container shep-center shep-padding shep-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="shep-grey">
      <div class="shep-container shep-center shep-padding shep-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <div class="shep-container">
    <h5>Countries</h5>
    <table class="shep-table shep-striped shep-bordered shep-border shep-hoverable shep-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="shep-button shep-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="shep-container">
    <h5>Recent Users</h5>
    <ul class="shep-ul shep-card-4 shep-white">
      <li class="shep-padding-16">
        <img src="/w3images/avatar2.png" class="shep-left shep-circle shep-margin-right" style="width:35px">
        <span class="shep-xlarge">Mike</span><br>
      </li>
      <li class="shep-padding-16">
        <img src="/w3images/avatar5.png" class="shep-left shep-circle shep-margin-right" style="width:35px">
        <span class="shep-xlarge">Jill</span><br>
      </li>
      <li class="shep-padding-16">
        <img src="/w3images/avatar6.png" class="shep-left shep-circle shep-margin-right" style="width:35px">
        <span class="shep-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="shep-container">
    <h5>Recent Comments</h5>
    <div class="shep-row">
      <div class="shep-col m2 text-center">
        <img class="shep-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="shep-col m10 shep-container">
        <h4>John <span class="shep-opacity shep-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="shep-row">
      <div class="shep-col m2 text-center">
        <img class="shep-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="shep-col m10 shep-container">
        <h4>Bo <span class="shep-opacity shep-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="shep-container shep-dark-grey shep-padding-32">
    <div class="shep-row">
      <div class="shep-container shep-third">
        <h5 class="shep-bottombar shep-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="shep-container shep-third">
        <h5 class="shep-bottombar shep-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="shep-container shep-third">
        <h5 class="shep-bottombar shep-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>