<div class="shep-bar shep-top shep-black shep-large" style="z-index:4">
  <button class="shep-bar-item shep-button shep-hide-large shep-hover-none shep-hover-text-light-grey" (click)="openMenu($event)"><img src="assets/images/MenuW24.png" />&nbsp;Menu</button>
  <span class="shep-bar-item shep-right"><img src="src/assets/images/sheepIcon_blue32.png" /></span>
  <span class="shep-bar-item shep-center">Shepherding Tools</span>
</div>


<!-- Sidebar/menu -->
<nav class="shep-sidebar shep-collapse shep-white shep-animate-left" style="z-index:3;width:300px;" id="mySidebar">
  <div class="shep-bar-block">
    <a href="#" class="shep-bar-item shep-button shep-padding-16 shep-hide-large shep-dark-grey shep-hover-black" (click)="closeMenu($event)" title="close menu"><img src="src/assets/images/X32.png" />&nbsp;Close Menu</a>
    <div *ngFor="let menuItem of menuData" (click)='menuSelect(menuItem)'>
      <a [routerLink]="[menuItem.target]" [class.selectedMenuItem]="menuItem === selectedMenuItem" class="shep-bar-item shep-button shep-padding {{menuItem.classes}}"><img src="{{menuItem.image}}" />&nbsp;{{menuItem.title}}</a>
    </div>
    <br><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="shep-overlay shep-hide-large shep-animate-opacity" (click)="closeMenu($event)" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->